@mixin container($width:1100px) {
  .container{
    width: $width;
    margin: 0 auto;
  }
}

@mixin flex($wrap,$display:flex,$align:center,$justify:center){
  display: $display;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin absolute($top:0,$left:0) {
  position: absolute;
  top: $top;
  left: $left;
  // transform: $transform;
}
